.productTile {
  width: 22rem;
  height: min-content;
  min-height: 30rem;
  border: 1px solid black;
  border-radius: 1.6rem;
  box-shadow: 0.5rem 0.5rem 1rem #bbb;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.productTile:hover {
  transition: all 0.4s ease-in-out;
  transform: scale(1.08);
  background-color: #f5f5f5;
}
.productTile > p {
  font-weight: bold;
}
.productImage {
  width: 15rem;
}
